**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfplan
**/tfplan-*

crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.pem
*.key
*.pfx

.DS_Store

aws-labs/stacks/**/environments/**/terraform.tfvars
aws-labs/stacks/**/environments/**/backend.hcl
